.header {
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
}

.header img {
  width: 30%;
}

body {
  font-family: "Lato", sans-serif;
  background: #16141b;
  background: linear-gradient(to top, #2c2b2e, #16141b);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Filename - App.css */

.App {
  text-align: center;
  margin: auto;
  width: 50rem;
  /* justify-content: center; */
}

.container {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-evenly;
  margin: auto;
}

.flip-card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.3s;

  background: linear-gradient(to bottom, rgb(43, 42, 42), rgb(27, 27, 27));
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  text-align: center;

  margin-top: 1rem;
  margin-bottom: 1rem;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  color: #f1f1f1;

  background: linear-gradient(to bottom, rgb(43, 42, 42), rgb(27, 27, 27));
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  background: linear-gradient(to bottom, rgb(43, 42, 42), rgb(27, 27, 27));
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  text-align: center;
}

.flip-card-back {
  background: linear-gradient(to bottom, rgb(27, 27, 27), rgb(43, 42, 42));
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.6);
  transform: rotateY(180deg);
}

.card-content {
  padding: 20px;
  text-align: center;
}

.card-content ul {
  text-align: left;
  list-style: none;
  padding: 0;
  line-height: 1.3rem;
}

.flip-button {
  width: 100px;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
  background-color: #f5d9fa;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.h-w {
  display: flex;
  justify-content: space-around;
}
.pokeImg {
  display: flex;
  justify-content: center;

  background: linear-gradient(
    to bottom,
    rgba(214, 214, 214, 0.3),
    rgba(77, 77, 77, 0.1)
  );
  box-shadow: 0 0 10px 10px rgba(202, 201, 201, 0.05);
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  left: 25px;
  top: 1rem;
}
.pokeImg img {
  width: 50%;
  align-self: center;

  margin-top: 1rem;
  width: 85%;
  height: 85%;
  filter: saturate(130%) brightness(110%);
}

.gg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

small {
  opacity: 0.5;
}

h5 {
  margin: 0;
  display: inline;
}

.wh {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.1rem 0.4rem;
  border-radius: 0.6rem;
  display: block;
  margin: 0.25rem;
}
.type-icon {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  padding: 0.5rem;
  height: 0.2rem;
  width: 1.2rem;
  background-color: #f1f1f1;
  border-radius: 1000px;
  cursor: help;
}

.number {
  background-color: rgba(145, 145, 145, 0.2);
  padding: 0.1rem 0.3rem;
  border-radius: 0.6rem;
  font-size: 0.8em;
  position: absolute;
  left: 0.25rem;
  top: 0.25rem;
  font-weight: bold;
}

.type {
  margin-top: 0.5rem;
}

.loader {
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  animation: roll 1s ease-in-out infinite alternate;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 5px;
  border-radius: 50%;
  border: 5px solid;
  border-color: #ff3d00 transparent;
}
@keyframes roll {
  0% {
    transform: translateX(-150%) rotate(0deg);
  }
  100% {
    transform: translateX(150%) rotate(360deg);
  }
}

.title {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  top: 5rem;
  flex-direction: row;
  justify-content: center;
  margin: 2rem;
}

.pokeball {
  height: 2rem;
  width: 2rem !important;
  /* margin-right: 0.25rem; */
  animation: bounce 0.4s linear infinite alternate;
}

@keyframes bounce {
  0% {
    transform: translateY(-10%);
  }

  100% {
    transform: translateY(10%);
  }
}

footer {
  color: #f1f1f1;
  margin: 1rem 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

footer a {
  text-decoration: none;
  color: #f1f1f1;
}

footer img {
  width: 4rem;
}

@media (max-width :600px) {
  .header img {
    width: 50%;
  }
}
